.lead {
    font-family: 'Montserrat', sans-serif;
    color: lightyellow;
    font-size: larger!important;
    text-align: center;
}
.display-4 {
    font-family: 'Spicy Rice', cursive;
    letter-spacing: 12px;
    color: lightyellow;
    text-align: center;
}

.jumbotron {
    background-color: #f77204!important;
}


body {
    background-color: #ea954f!important;
}

.directions-text {
    background-color: #f77204;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    color: white;
}

.letters-guessed-text {
    margin-left: 225px;
    color: #f77204!important;
    font-family: 'Montserrat', sans-serif;
}

.guesses-text {
    margin-left: 300px;
    color: #f77204!important;
    font-family: 'Montserrat', sans-serif;
}

.guess-word-text {
    color: #f77204;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

#letters-guessed {
    margin-left: 250px;
}

#guesses-left {
    margin-left: 360px;
}

img {
    height: 100%;
}

.photo-card {
    overflow: hidden;
    width: 300px;
}

.photo-row {
    display: flex;
    justify-content: space-evenly;
}

.btn-reset {
    background-color: #f77204!important;
    color: white!important;
    text-align: center;
    margin: auto;
}